# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Large model files
*.task

# OS / editor files
.DS_Store
.vscode/

# Python build artifacts
build/
dist/
*.egg-info/

asl_letters_small_processed/